:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #1a73e8;
}

*{
    box-sizing: inherit; /*kế thừa thẻ chứa nó*/
}

html{
    /*fz 100% = 16px => 62.5% = 10px*/ 
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.btn{
    font-size: 1.3rem;
    font-weight: 600;
    min-width: 99px;
    height: 36px;
    /* padding: 10px 17px; */
    border: none;
    border-radius: 3px;
    outline: none;
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn:hover{
    background-color: #1a73e8e7;
    cursor: pointer;
}